@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ko{
    @System.Web.Optimization.Scripts.Render("~/bundles/ko/examresult")

}

<div id="breadcrumb">
    <ul>
        <li>
            <a href="@Url.Content("~")College">Escolas</a> &rarr;
        </li>
        <li>
            <a href="@Url.Content("~")Course/?collegeId=@ViewBag.CollegeId">@ViewBag.CollegeName</a> &rarr;
        </li>
        <li>
            <a href="@Url.Content("~")Course/Dashboard/@ViewBag.CourseId">@ViewBag.CourseName</a> &rarr;
        </li>
        <li>
            <strong>@ViewBag.ExamName</strong>
        </li>
    </ul>
</div>

<h2>Resultados da Avaliação</h2>

<div class="detail">
    <span class="pair">
        <span class="key">Parcial:</span><span class="value">@ViewBag.PartialGradeName</span>
    </span>
    <span class="pair">
        <span class="key">Data:</span><span class="value">@ViewBag.ExamDate</span>
    </span>
    <span class="pair">
        <span class="key">Peso:</span><span class="value">@ViewBag.ExamValue</span>
    </span>
</div>

<input type="hidden" id="examId" value="@ViewBag.ExamId" />
<input type="hidden" id="examValue" value="@ViewBag.ExamValue" />

<form>
    <table>
        <thead>
            <tr>
                <th class="w30">Aluno</th>
                <th class="w10">Nota</th>
                <th class="w60">Observações</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: models">
            <tr @*class="non-hover"*@>
                <td data-bind="text: studentName"></td>
                <td><input type="text" name="value" maxlength="6" class="text-right" data-bind="value: value, attr: { title: valueError }, css: { invalid: !!valueError() }" /></td>
                <td><textarea name="description" rows="1" data-bind="value: description"></textarea></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="cell buttons">
            <input type="button" name="save" class="confirm no-fixed-width" value="Salvar" data-bind="click: save" />
        </div>
    </div>
</form>

<div id="errors" data-bind="css: { active: serverErrors().length > 0 }" class="modal closable">
    <h3>A operação não foi concluída</h3>
    <ul data-bind="foreach: serverErrors">
        <li data-bind="text: $data"></li>
    </ul>
    <a href="#" data-bind="click: clearServerErrors" class="close"></a>
</div>