<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Douglas Collioni" />

    @*<link rel="icon" type="image/vnd.microsoft.icon" href="~/Content/themes/app/images/businessman-16.png" />
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="~/Content/themes/app/images/businessman-16.png" />*@

    <title>School Lineup</title>

    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
    @System.Web.Optimization.Styles.Render("~/Content/css")
    
    @*@Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/jquery-validate")
    @Scripts.Render("~/bundles/jquery-mask")
    @Scripts.Render("~/bundles/jquery-dateFormat")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app/default")*@

    <script type="text/javascript">
        var SL = {};
        SL.root = '@Url.Content("~")';
    </script>
</head>
<body>
    <main>
        <header>
            <div>
                <h1>School Lineup</h1>
            </div>
        </header>
        <nav>
            <div>
                <a href="#">Escolas</a>
                <a href="#">Disciplinas</a>
                <a href="#">Alunos</a>
                <a href="#">Avaliações</a>
            </div>
        </nav>
        <section>
            <div>
                @RenderBody()
            </div>
        </section>
        <footer>
            <div>
                <p>Desenvolvido por Douglas Collioni - @@dcollioni</p>
            </div>
        </footer>
    </main>
</body>
</html>