<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Douglas Collioni" />

    <link rel="shortcut icon" href="/favicon.ico">

    <title>School Lineup</title>

    @using System.Web.Optimization
    
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-mask")
    @Scripts.Render("~/bundles/string")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/knockout")

    <script type="text/javascript">
        var SL = {};
        SL.root = '@Url.Content("~")';
    </script>

    @Scripts.Render("~/bundles/app/default")
</head>
<body>
    <main>
        <header>
            <div>
                <h1><a href="@Url.Content("~")">School Lineup</a></h1>
            </div>
        </header>
        <nav>
            <div>
                <a href="@Url.Content("~")School">Escolas</a>
                <a href="#">Disciplinas</a>
                <a href="#">Alunos</a>
                <a href="#">Avaliações</a>
            </div>
        </nav>
        <section>
            <div>
                @RenderBody()
            </div>
        </section>
        <footer>
            <div>
                <p>Desenvolvido por Douglas Collioni - @@dcollioni</p>
            </div>
        </footer>
        <div id="mask"></div>
        <div id="loading" class="modal"></div>
    </main>
    @RenderSection("ko", false)
</body>
</html>