@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Douglas Collioni" />

    <link rel="shortcut icon" href="/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <title>Graduare</title>

    @using System.Web.Optimization

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-mask")
    @Scripts.Render("~/bundles/string")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/knockout")

    <script type="text/javascript">
        var SL = {};
        SL.root = '@Url.Content("~")';
    </script>

    @Scripts.Render("~/bundles/app/default")
    @Styles.Render("~/Content/css/login")

</head>
<body>
    <div id="change-password-page">
        <header>
            <img src="@Url.Content("~")Content/images/graduare-header.png" alt="Graduare logo">
        </header>
        <div id="change-password-box">
            <h1>Alteração de Senha</h1>
            <p>
                Identificamos que a sua senha ainda é temporária.
                <br>Por questões de segurança, pedimos que você informe uma nova.
            </p>
            <hr>
            <div id="form">
                <form action="@Url.Content("~")Account/ChangePassword" method="post" data-bind="submit: send">
                    <div>
                        <input type="password" name="password" placeholder="Nova senha" class="password" autofocus="autofocus"
                               data-bind="value: password, attr: { title: errors().password }, css: { invalid: !!errors().password }">
                    </div>
                    <div>
                        <input type="password" name="passwordConfirmation" placeholder="Confirmação de senha" class="password"
                               data-bind="value: passwordConfirmation, attr: { title: errors().passwordConfirmation }, css: { invalid: !!errors().passwordConfirmation }">
                    </div>
                    <div>
                        <input type="submit" value="Alterar Senha">
                    </div>
                </form>
            </div>
            <hr>
            <p>
                <a href="/">Quero prosseguir sem alterar minha senha agora.</a>
                <br>
                <span class="small">Nós te lembraremos sobre isso mais tarde.</span>
            </p>
        </div>
    </div>

    @Scripts.Render("~/bundles/ko/changepassword")

    @{
        var errors = ViewBag.Errors as ICollection<System.ComponentModel.DataAnnotations.ValidationResult>;

        if (errors != null)
        {
            var errorMsg = "";
            
            foreach (var error in errors)
            {
                errorMsg += error.MemberNames.First() + ": " + error.ErrorMessage + ";";
            }
            
            <script>
                console.log('@errorMsg');
            </script>
        }
    }

</body>
</html>